<%- include('partials/navigation') %>
<h1>Add New Book</h1>
<form action="/book/add" method="POST">
  <label for="title">Title:</label><br />
  <input type="text" id="title" name="title" /><br />
  <label for="publishingYear">Publishing Year:</label><br />
  <input type="number" id="publishingYear" name="publishingYear" /><br />
  <label for="authorId">Author ID:</label><br />
  <input type="number" id="authorId" name="authorId" /><br /><br />
  <button type="submit">Add Book</button>
</form>
